@charset "utf-8";
// color variables
$light-blue: #2B79A6;
body,
td,
td,
p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    line-height: 1.5;
    word-wrap: break-word;
    font-size: 1em;
}

body {
    background-color: #1D2731;
    margin: 0;
    position: relative;
}

ul,
li {
    margin-top: 0px;
    color: #333;
}

a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #3397db;
    text-decoration: none;
}

a img {
    border: none 0px #fff;
}

h1,
h2,
h3 {
    display: flex;
    padding: 10px 10px 10px 0px;
}

footer,
header,
menu,
nav,
section {
    display: block;
}

#maincontent {
    max-width: 1280px;
    margin: 0px auto;
    margin-top: 15px;
    background-color: #f3f3f3;
    min-height: 100%;
}

#footer {
    display: block;
    background-color: #0b3c5d;
    color: white;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
    width: 100%;
    background-color: #0B3C5D;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        margin: auto;
        a {
            color: #eee;
            text-transform: uppercase;
            margin: auto;
        }
    }
}

#breadcrumb {
    max-width: 1280px;
    margin: 0px auto;
    margin-top: 15px;
    padding: 20px 0px 20px 0px;
    list-style: none;
    background-color: $light-blue;
    li {
        display: inline;
        color: white;
        a {
            color: #fff;
            text-decoration: none;
            padding-left: 40px;
        }
        a:hover {
            color: #01447e;
            text-decoration: underline;
        }
    }
    li+li:before {
        padding: 8px;
        color: white;
        content: "/\00a0";
    }
}

li > button {
    background-color: #1d2731;
    padding: 10px;
    color: white;
    border: none;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

li p:last-of-type {
    padding-bottom: 10px;
}

/* ====================== Map ====================== */

#map {
    height: 400px;
    width: 100%;
}

#map-container {
    background-color: #1d2731;
    padding: 0px 0px 0px 0px;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
    padding-top: 20px;
    width: 100%;
    background-color: $light-blue;
    align-items: center;
    h2 {
        font-weight: 500;
        color: white;
        font-size: 1rem;
        line-height: 1;
        margin: 0 20px;
    }
    select {
        background-color: white;
        border: 1px solid #fff;
        font-family: Arial, sans-serif;
        font-size: 11pt;
        height: 35px;
        letter-spacing: 0;
        margin: 10px 15px;
        padding: 0 10px;
        width: 200px;
    }
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
    background-color: #1D2731;
    list-style: outside none none;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
        background-color: #fff;
        border: 2px solid #ccc;
        font-family: Arial, sans-serif;
        padding: 0 10px 10px;
        text-align: left;
        margin: 5px;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        a {
            background-color: #1d2731;
            border-bottom: 3px solid #eee;
            color: #ffffff;
            font-size: 10pt;
            margin: 10px 0 0;
            padding: 8px 30px 10px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            margin-top: auto;
        }
        p {
            margin: 5px 5px;
        }
    }
    p {
        margin: 0;
        line-height: 1.5;
        font-size: 11pt;
    }
}

#restaurants-list .restaurant-img {
    background-color: #ccc;
    margin: 0;
    width: 40%;
    max-width: 100%;
    min-height: 100px;
    min-width: 100%;
    height: auto;
    margin-top: 10px;
}

#restaurants-list li h1,
#restaurant-name,
h2 {
    color: #0B3C5D;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 10px 10px 10px 5px;
    /* padding: 0; */
    text-transform: uppercase;
}

#restaurant-name {
    padding-top: 15px;
}

/* ====================== Restaurant Details ====================== */

.inside #map {
    background-color: #ccc;
    min-height: 40vh;
}

#restaurant-img {
    width: 100%;
    height: auto;
}

#restaurant-address {
    background-color: white;
    color: black;
    margin: 10px 10px;
    padding: 10px 0px;
}

#restaurant-container,
#reviews-container {
    /* border-bottom: 1px solid #d9d9d9; */
    padding: 20px 40px 20px;
}

#restaurant-container {
    background-color: white;
    padding: 0px 15px 15px 15px;
}

/* ====================== Media Queries ====================== */

@media all and (min-width: 1024px) {
    #maincontent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: 1fr 1fr;
    }
    #map-container {
        grid-column: 2;
        grid-row: 1 / 2;
        padding-left: 15px;
    }
    #reviews-container {
        grid-column: 1 / 3;
    }
    #add-reviews-container {
        grid-column: 1 / 4;
    }
    #map {
        height: 100%;
        background-color: #ccc;
    }
    #restaurants-list li {
        width: 230px;
    }
    #left-container {
        background-color: #1D2731;
        padding-left: 15px;
    }
}